<form id="contato-simples" class="form-control gap-4 rounded-md bg-base-300 p-4 mb-4" method="POST" action="/obrigado" data-netlify="true" name="contato-simples" data-netlify-recaptcha="true">
    <input name="name" type="text" placeholder="Seu nome" class="input w-full" required/>
    <input name="email" type="email" placeholder="Seu e-mail" class="input w-full" required/>
    <textarea name="msg" placeholder="Sua Mensagem" rows="5" class="textarea" required/>
    <div data-netlify-recaptcha="true"></div>
    <button type="submit" class="btn btn-primary dark:btn-accent">Enviar</button>
</form>